
<style type="text/css">

.container { font-family:"Segoe UI",Tahoma; font-size:12px; }

</style>

<div class="container">

<h3>Здравствуйте{{ greeting }}!</h3><br>

<p>Для смены пароля выполните клик <a href="{{ url_for('auth.reset_password', token=token, _external=True) }}">здесь</a>.</p>

<p>Вы можете выполнить переход по нижеследующей ссылке через адресную строку браузера:</p>

<p>{{ url_for('auth.reset_password', token=token, _external=True) }}</p>

<p>Если вы не запрашивали сброс пароля, просто проигнорируйте это сообщение.</p>

<br>
<p>С уважением,<br>Служба поддержки АО "НПО "ОРИОН"</p>

<p><small>Примечание: ответы с данного адреса электронной почты не отслеживаются.</small></p>

</div>
