{% extends "base.html" %}

{% block styles %}

  {%- if is_mobile -%}

<link href="{{ url_for('static', filename='css/style') }}.login.mobile.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- else -%}

<link href="{{ url_for('static', filename='css/style') }}.login.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

  {%- if is_explorer -%}

<link href="{{ url_for('static', filename='css/style') }}.login.ie.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

{% endblock %}

{% block page_content %}

<div class="login message">
  {%- if not error -%}
    <h1>{{ _('A message has been sent to your Email with instructions for changing the password') }}.</h1>
    <h3>{{ _('Please check email') }}.</h3>
  {%- else -%}
    <h3>{{ _('Sorry, we could not send a mail to your address') }}.</h3>
  {%- endif -%}

  <br>
  <p>{{ _('Return to the Login page') }}: <a href="{{ url_for('auth.login') }}">{{ _('Click here') }}</a>.</p>
</div>

<div class="token hidden"><br><br><a target="_blank" href="{{ token }}">{{ token }}</a></div>

{% endblock %}