{% extends "base.html" %}

{% from 'templates.html' import render_email, render_submit %}

{% block styles %}

  {%- if is_mobile -%}

<link href="{{ url_for('static', filename='css/style') }}.login.mobile.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- else -%}

<link href="{{ url_for('static', filename='css/style') }}.login.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

  {%- if is_explorer -%}

<link href="{{ url_for('static', filename='css/style') }}.login.ie.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

{% endblock %}

{% block page_content %}

<div class="login reset">
  <h1>{{ _('Enter your Email address') }}.</h1>

  <form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}

    {{ render_email(form.email, 0, 0) }}

    {{ render_submit(form.submit) }}
  </form>

  <br>
  <p>{{ _('A letter will be sent to the specified Email with instructions for changing the password') }}.</p>
  <p>{{ _('Return to the Login page') }}: <a href="{{ url_for('auth.login') }}">{{ _('Click here') }}</a>.</p>
</div>

{% endblock %}