{% extends "base.html" %}

{% from 'templates.html' import render_login, render_password, render_submit %}

{% block styles %}

  {%- if is_mobile -%}

<link href="{{ url_for('static', filename='css/style') }}.login.mobile.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- else -%}

<link href="{{ url_for('static', filename='css/style') }}.login.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

  {%- if is_explorer -%}

<link href="{{ url_for('static', filename='css/style') }}.login.ie.css{{ vsc }}" rel="stylesheet" type="text/css">

  {%- endif -%}

{% endblock %}

{% block starter %}

<script src="{{ url_for('static', filename='js/login.min.js') }}{{ vsc }}"></script>

{% endblock %}

{% block page_content %}

<div class="login">
  <form action="" method="post" class="form" role="form">
    {{ form.hidden_tag() }}

    {{ render_password(form.password, show_password) }}

    {{ render_password(form.password2, show_password) }}

    {{ render_submit(form.submit) }}

  </form>

  <br>
  <p>{{ _('Return to the Login page') }}: <a href="{{ url_for('auth.login') }}">{{ _('Click here') }}</a>.</p>
</div>

{% block rules %}{% include 'auth/password_rules.html' %}{% endblock %}

{% endblock %}
