<footer id="page-footer">
  <div id="footer-content" class="{{ footer_class }}">
    <div class="page-footer {{ footer_subclass }}">
      <span class="footer-command">>>>&nbsp;<a id="scroll-top" href="#top" onclick="self.scrollTo(0,0);return false;">Наверх</a></span>
      <div class="footer-info">
        <span class="product-title">{{ g.maketext('Application title') }}</span> <!-- APPLICATION MANAGEMENT SYSTEM-->
        <span class="f-indent">=</span>
        <span class="product-name">{{ g.app_product_name }}</span>
        <span class="f-indent">=</span>
        <div class="product-title">версия<dd class="product-version">{{ product_version[0] }}</dd>{{ product_version[1] }}</div>
        <span class="product-title"><a href="/changelog">[лист изменений]</a></span>
        <span class="product-release">© АО «НПО «ОРИОН», 2022-2023</span>
      </div>
    </div>
  </div>
</footer>